.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headingContainer{
    text-align: center;
    z-index: 10;
    padding-left: 1rem;  
}

.headingText{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.25;
    background: linear-gradient(30deg, var(--h1-background-color), var(--h2-background-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraphText{
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: var(--text-color);
    max-width: 600px;
    margin-bottom: 8px;
    margin: 0 auto;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.contactButton{
    background-color: var(--h1-background-color);
    color: var(--text-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: relative-overflow-hidden 0.3s ease, color 0.3s ease;
}