* {
    --bg-color: rgb(0, 0, 0);
    --text-color: #f3f4f6;
    
    --navbar-bg-color: rgb(0, 0, 0);
    --navbar-border-color: rgba(255, 255, 255, 0.102);
    --navbar-shadow-color: rgba(138, 138, 138, 0.3);
    --navbar-items-color: #f3f4f6;
    
    --link-color: #d1d5db;
    --link-hover-color: #ffffff;

    --loading-bar-color: #f3f4f6;
    --loading-bar-color-progress:rgb(115, 62, 184);
    --loading-bar-color-shadow: #a763ff;
}